<html>
  <head>
    <title>Book details</title>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/BookData.js"></script>
  </head>
  <body>
    <script>
      generateNavBar();
      display_account_data(()=> { location.reload(); });
    </script>

    <div class="card" style="width: 25%; padding: 1em; margin: 0 auto; float: none; margin-top: 10px; margin-bottom: 10px">
      <img id="cardBookCover" class="card-img-top" alt="Card image cap" />
      <div class="cardBody" style="padding-top: 1em">
        <h5 id="cardBookTitle" class="card-title"></h5>
        <br />
        <h6 id="cardBookAuthor" class="card-subtitle mb-2 text-muted"></h6>
        <p id="cardPublishDate" class="card-text"></p>
      </div>
    </div>
    <script>
      displayBookDetails();
    </script>
  </body>
</html>
