<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" href="../styles/Sign.css">
        <script src="../scripts/index.js"></script>
    </head>
    <body style="background: rgb(0,131,150);background: radial-gradient(circle, rgba(0,131,150,1) 0%, rgba(0,36,77,1) 100%);">
      <script>
        if (JSON.parse(localStorage.getItem("LoggedIn")) !== "True") window.history.back();

        generateNavBar();
        display_account_data(()=>{ window.history.back(); });
      </script>
      <script type= "text/javascript" src="../scripts/AccountData.js"></script>
    <form onsubmit="return resetPassword(this.psw_old.value,this.psw.value,this.psw_repeat.value)" action="../index.html">
        <div class="container">
          <h1 style="color:white;">Reset Password</h1>
          <p style="color:white;">Enter your old password and new password</p>
          <hr style="background-color:white;">
        </br>
        
        <label style="color:white;" for="psw_old"><b>Old Password</b></label>
        <input type="password" placeholder="Enter Old Password" id="psw_old" name="psw_old" required>
        <span id='OldPass'></span>
        </br>
        <label style="color:white;" for="psw"><b>New Password</b></label>
        <input type="password" placeholder="Enter New Password" id="psw" name="psw" required>
        </br>
        <label style="color:white;" for="psw_repeat"><b>Repeat New Password</b></label>
        <input type="password" placeholder="Repeat New Password" id="psw_repeat" name="psw_repeat" required>
        <span id='CheckPass'></span>
        </br>
            
          <div class="clearfix">
            <button type="button" class="cancelbtn buttonNorm" onclick="window.history.back()">Cancel</button>
            <button type="submit" class="signupbtn buttonNorm">Reset Password</button>
          </div>
        </div>
      </form>
    </body>
</html>